{% extends 'main/detailsbase.html' %}

<!-- Head -->
{% block title %}{{ title }} - Jordan Tanudjaja{% endblock %}

{% block additional_styling %}
    .project-content {
        margin-bottom: 2em;
    }

    #github_button {
        font-size: clamp(1.5em, 1.5vw, 2em);
        color: #FFFFFF;
        background-color: #333333;
        border: 2px solid #333333;
        margin-top: 0.25em;
    }

    #github_button:hover {
        background-color: #FFFFFF;
        color: #333333;
    }

    #tools {
        border-style: solid;
        border-color: gray;
    }

    h2 {
        font-size: clamp(1.5em, 1.5vw, 2em);
    }

    h4 {
        font-size: clamp(1em, 1.5vw, 1.5em);
    }

    p, li {
        font-size: clamp(0.8em, 1.1vw, 1em);
    }
{% endblock %}
<!-- End Head -->

<!-- Body -->
<!-- Header -->
{% block bg_image %}background-image: url({{ background_image }});{% endblock %}
{% block page_name %}{{ title }}{% endblock %}

<!-- Back Button -->
{% block url_route %}/projects#project_list{% endblock %}
{% block button_name %}Back to Projects{% endblock %}

<!-- Details -->
{% block details %}
    <div class="row row-cols-1 row-cols-md-1 g-4 mx-auto project-content" style="margin-top:0.1em; width:clamp(250px, 25%, 25%);">
        <button onClick="javascript:window.open('{{ github_link }}', '_blank')" type="button" id="github_button" class="btn" style="font-size:clamp(1em, 1.5vw, 2em);">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
            Github Page
        </button>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 project-content">
        <div class="col">
            <img src="{{ top_picture }}" class="card-img-top" style="width:100%;">
        </div>

        <div class="col">
            <div class="text-center">
                <h4><b>Description</b></h4>
                <p>{{ description }}</p>

                <h4><b>Goals</b></h4>
                <ol class="text-start" style="list-style-position: inside;">
                    {% for goal in goals %}
                        <li>{{ goal }}</li>
                    {% endfor %}
                </ol>

                <h4><b>Tools Used</b></h4>
                <p id="tools">{{ tools_used }}</p>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-1 g-4 project-content">
        <img src="{{ middle_picture }}">
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 project-content">
        <div class="col">
            <div class="text-center">
                <h4><b>Context / Inspiration</b></h4>
                <p>{{ context }}</p>

                <h4><b>Potential Improvements</b></h4>
                <ol class="text-start" style="list-style-position: inside;">
                  {% for improvement in potential_improvements %}
                      <li>{{ improvement }}</li>
                  {% endfor %}
                </ol>
            </div>
        </div>

        <div class="col">
            <img src="{{ bottom_picture }}" class="card-img-top" style="width:100%;">
        </div>
    </div>
{% endblock %}
<!-- End Body -->
