{% extends 'main/base.html' %}
{% load static %}

<!-- Head -->
{% block title %}Cookbook - Jordan Tanudjaja{% endblock %}
<!-- End Head -->

<!-- Body -->
<!-- Nav bar with current page emphasis -->
{% block page_highlight %}
    <li class="nav-item px-4">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item px-4">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item px-4">
        <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item px-4">
        <a class="nav-link active" aria-current="page" href="/cookbook">Cookbook</a>
    </li>
    <li class="nav-item px-4">
        <a class="nav-link" href="/photography">Photography</a>
    </li>
    <li class="nav-item px-4">
        <a class="nav-link" href="/library">Library</a>
    </li>
    <li class="nav-item px-4">
        <a class="nav-link" href="/experience">Experience</a>
    </li>
{% endblock %}

<!-- Header -->
{% block bg_image %}background-image: url('https://mdbootstrap.com/img/new/slides/032.jpg');{% endblock %}
{% block page_title %}Cookbook{% endblock %}
{% block subtitle %}Dedicated to my cooking experiments and shenanigans{% endblock %}

<!-- Main Content -->
{% block content %}
    <!-- Inspirational Quote -->
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <img src="{% static 'images/Quotes/Cookbook Quote pic.jpg' %}" class="img-fluid rounded-start"/>
            </div>
            <div class="col-md-4">
                <div class="card-body text-start">
                    <h1 class="card-title" style="font-size:clamp(1em, 3vw, 3em); font-family:'Impact';"><i>Respect for food is respect for life, for who we are and what we do.</i></h1>
                    <p class="card-text" style="font-size:clamp(0.75em, 1.5vw, 1.5em); font-family:'Arial';">- Thomas Keller</p>
                </div>
            </div>
        </div>
    </div>

    <!-- List of Recipes -->
    <div id="recipe_list" class="row row-cols-1 row-cols-md-3 g-4">
        {% for recipe in hobby_summary %}
            <div class="col">
                <div class="bg-image hover-overlay">
                    <a href="{{ recipe.hyperlink }}">
                        <img id="recipe_image" src="{{ recipe.profile_picture.url }}" class="w-100">
                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <h5 class="text-white text-center mb-0" style="font-size:clamp(1em, 1.5vw, 1.5em);">{{ recipe.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- End of Recipe list -->
{% endblock %}
<!-- End Body -->
